<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>Login</h3>
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-dark">Login</button>
    </form>

    <% if (success) { %>
        <div class="alert alert-success">
          <%= success %>
        </div>
      <% } %>
      
      <% if (error) { %>
        <div class="alert alert-danger">
          <%= error %>
        </div>
      <% } %>      
    
</body>
